<div class="cart-panel" *ngIf="notempty">
    <div>
        <div class="cart-container" *ngFor="let item of cartdata[0], let i = index">
            <div class="cart-item">
                <img src="{{item.url}}">
                <div class="cart-item-details">
                    <h3>{{item.name}}</h3>
                    <p>${{item.price}}</p>
                    <div>
                        <label for="quantity">Amount: </label>
                        <input class="number-input" type="number" id="quantity" name="quantity" min="1" max="10"
                            placeholder="{{cartdata[1][i]}}">
                    </div>
                </div>
            </div>
        </div>
        <h2 class="empty-cart-message">Total: ${{total}}</h2>
    </div>
    <form (ngSubmit)="onSubmit()" class="form-margin">
        <label class="form-label">Full name</label>
        <input class="form-control" name="name" type="text" [(ngModel)]="name" required minlength="3" placeholder="(minimum 3 characters)">

        <label class="form-label">Address</label>
        <input class="form-control" name="address" type="text" [(ngModel)]="address" required minlength="6" placeholder="(minimum 6 characters)">

        <label class="form-label">Credit card number</label>
        <input class="form-control" name="card" type="number" inputmode="numeric" [(ngModel)]="card" required [minLength]="16" maxlength="16" placeholder="(16-digit number)">

        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
    </form>


</div>
<div *ngIf="!notempty" class="empty-cart-message"><h1>Your cart is Empty</h1></div>